__pycache__/
*.pyc
venv/
.vscode/
*.xlsx
*.csv
.aider*
.claude*
.venv313/
*.log
*.bat
build/

# PyInstaller build artifacts
dist/
build_webview/
build_tkinter/
Output/
*.exe
*.spec.bak
assets/frame0/
assets/frame0
gemini/
TestFiles/
gui/
main.py
Settings/*.json
Settings/*.txt
Settings/*.db
build_tkinter.spec
.VSCodeCounter/
.venv12/
repomix.config.json