# Core Data Processing & Excel Engines
pandas==3.0.0
numpy==2.4.2
openpyxl==3.1.5
xlsxwriter==3.2.9

# Web Scraping & Network IO
requests==2.32.5
beautifulsoup4==4.14.3
lxml==6.0.2

# GUI Components & System
pillow==12.1.0
tkinterdnd2==0.4.3
screeninfo==0.8.1